@import url("https://fonts.googleapis.com/css?family=Kanit:200,300,400,500,600,700");
.title-black::after, .item-readmore > a::after, .footer::after {
  background: -webkit-gradient(linear, left top, right top, from(#00b3ff), color-stop(50%, #00b3ff), color-stop(50%, #005cb3));
  background: -webkit-linear-gradient(left, #00b3ff 0%, #00b3ff 50%, #005cb3 50%);
  background: -o-linear-gradient(left, #00b3ff 0%, #00b3ff 50%, #005cb3 50%);
  background: linear-gradient(to right, #00b3ff 0%, #00b3ff 50%, #005cb3 50%); }

.navbar-toggler, .box-bg {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 92, 179, 0.9)), to(rgba(0, 179, 255, 0.9)));
  background: -webkit-linear-gradient(top, rgba(0, 92, 179, 0.9) 0%, rgba(0, 179, 255, 0.9) 100%);
  background: -o-linear-gradient(top, rgba(0, 92, 179, 0.9) 0%, rgba(0, 179, 255, 0.9) 100%);
  background: linear-gradient(to bottom, rgba(0, 92, 179, 0.9) 0%, rgba(0, 179, 255, 0.9) 100%); }

.title-white::after {
  background: -webkit-gradient(linear, left top, right top, from(white), color-stop(50%, white), color-stop(50%, #00b3ff));
  background: -webkit-linear-gradient(left, white 0%, white 50%, #00b3ff 50%);
  background: -o-linear-gradient(left, white 0%, white 50%, #00b3ff 50%);
  background: linear-gradient(to right, white 0%, white 50%, #00b3ff 50%); }

body {
  font-family: 'Kanit', sans-serif;
  color: #444; }

.carousel-item {
  height: 65vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  background-size: cover; }

@media (min-width: 768px) {
  .carousel-caption {
    top: 40%; } }

.carousel-caption h1 {
  font-weight: 400;
  letter-spacing: 1.2px; }

.navbar {
  background: white;
  -webkit-box-shadow: 0px 5px 18px -7px rgba(0, 0, 0, 0.28);
  box-shadow: 0px 5px 18px -7px rgba(0, 0, 0, 0.28); }
  @media (min-width: 768px) {
    .navbar {
      padding: 0 10px; } }
  @media (max-width: 768px) {
    .navbar-brand > img {
      height: 40px; } }
  @media (min-width: 768px) {
    .navbar-nav > li {
      padding-left: 1.5rem; } }
  .navbar-nav > li > a {
    font-size: 20px;
    color: #444;
    font-weight: 300;
    -webkit-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    transition-duration: 0.2s;
    position: relative; }
    @media (min-width: 768px) {
      .navbar-nav > li > a {
        padding: 19px 0rem !important; }
        .navbar-nav > li > a::before {
          content: '';
          position: absolute;
          left: 0;
          right: 0;
          height: 3px;
          bottom: 0;
          width: 0%;
          margin: auto;
          background: -webkit-gradient(linear, left top, right top, from(#00b3ff), color-stop(50%, #00b3ff), color-stop(50%, #005cb3));
          background: -webkit-linear-gradient(left, #00b3ff 0%, #00b3ff 50%, #005cb3 50%);
          background: -o-linear-gradient(left, #00b3ff 0%, #00b3ff 50%, #005cb3 50%);
          background: linear-gradient(to right, #00b3ff 0%, #00b3ff 50%, #005cb3 50%);
          -webkit-transition-duration: 0.3s;
          -o-transition-duration: 0.3s;
          transition-duration: 0.3s; } }
    .navbar-nav > li > a:hover, .navbar-nav > li > a.active, .navbar-nav > li > a:focus {
      color: #2bc0ff;
      border: 0 !important;
      outline: 0 !important; }
      .navbar-nav > li > a:hover::before, .navbar-nav > li > a.active::before, .navbar-nav > li > a:focus::before {
        width: 100%; }
  @media (min-width: 768px) {
    .navbar-nav > li.language {
      padding-left: 3.5rem; } }
  .navbar-nav > li.language a {
    padding: 0 !important;
    font-size: 16px;
    margin-top: 20px; }
    .navbar-nav > li.language a::before {
      position: relative; }
  .navbar-nav > li.language img {
    height: 20px; }
  .navbar-nav > li.dropdown {
    position: relative;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none !important; }
    .navbar-nav > li.dropdown.show .dropdown-menu {
      border-radius: 0 0 20px 20px;
      -webkit-box-shadow: 0px 0px 10px -2px rgba(0, 0, 0, 0.25);
      box-shadow: 0px 0px 10px -2px rgba(0, 0, 0, 0.25);
      border-color: transparent;
      top: 62px; }
      @media (min-width: 768px) {
        .navbar-nav > li.dropdown.show .dropdown-menu::before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          height: 3px;
          background: -webkit-gradient(linear, left top, right top, from(#00b3ff), color-stop(50%, #00b3ff), color-stop(50%, #005cb3));
          background: -webkit-linear-gradient(left, #00b3ff 0%, #00b3ff 50%, #005cb3 50%);
          background: -o-linear-gradient(left, #00b3ff 0%, #00b3ff 50%, #005cb3 50%);
          background: linear-gradient(to right, #00b3ff 0%, #00b3ff 50%, #005cb3 50%); } }
      .navbar-nav > li.dropdown.show .dropdown-menu a {
        background-color: transparent;
        -webkit-transition-duration: 0.3s;
        -o-transition-duration: 0.3s;
        transition-duration: 0.3s;
        font-weight: 300; }
        .navbar-nav > li.dropdown.show .dropdown-menu a:hover, .navbar-nav > li.dropdown.show .dropdown-menu a:focus, .navbar-nav > li.dropdown.show .dropdown-menu a.active {
          color: #2bc0ff; }
  .navbar-toggler {
    border: 0;
    padding: 9px 10px;
    outline: 0 !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important; }
    .navbar-toggler i {
      color: white; }
  @media (max-width: 768px) {
    .navbar .navbar-collapse {
      margin-top: 10px;
      border-top: 1px solid #eee; } }

.breadcrumb {
  background: white;
  padding-left: 0;
  padding-right: 0; }
  .breadcrumb .breadcrumb-item a {
    color: #2bc0ff; }
  .breadcrumb .breadcrumb-item + .breadcrumb-item::before {
    content: '>'; }

.pagination .page-link {
  width: 40px;
  height: 40px;
  line-height: 39;
  text-align: center;
  padding: 0;
  line-height: 40px;
  margin: auto 2px;
  border-radius: 50% !important;
  color: #005db3;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease; }
  .pagination .page-link:hover, .pagination .page-link.active, .pagination .page-link:focus {
    -webkit-box-shadow: inset 0 0 0 1px #005db3;
    box-shadow: inset 0 0 0 1px #005db3;
    border-color: #005db3;
    color: #005db3;
    background: white; }

.title {
  font-size: 29px;
  font-weight: 300;
  letter-spacing: 1.1px; }
  .title-h2 {
    font-size: 24px;
    font-weight: 300; }
  .title-small {
    font-size: 20px;
    font-weight: 300;
    color: #444; }
  .title-hover {
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s; }
    .title-hover:hover, .title-hover:focus {
      color: #2bc0ff;
      text-decoration: none; }
  .title-black {
    color: #444;
    position: relative;
    display: table;
    margin: 0 auto;
    padding-bottom: 5px;
    margin-bottom: 10px;
    letter-spacing: 1.1px; }
    .title-black::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 4px;
      width: 45%;
      margin: auto; }
  .title-white {
    color: white;
    position: relative;
    display: table;
    padding-bottom: 5px;
    margin-bottom: 10px; }
    .title-white::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 4px;
      width: 45%; }

.caption {
  font-size: 20px;
  font-weight: 200; }
  @media (max-width: 768px) {
    .caption {
      font-size: 18px; } }
  .caption-black {
    color: #999; }
  .caption-white {
    color: white;
    font-size: 18px;
    font-weight: 200; }

.content-text {
  font-size: 18px;
  font-weight: 200; }

.icon-color {
  color: #2bc0ff; }

.item-title {
  font-size: 25px;
  padding: 5px 0;
  margin-bottom: 10px;
  font-weight: 300; }

.item-meta {
  font-weight: 200; }
  .item-meta a {
    color: #005db3; }
  .item-meta i {
    font-size: 14px; }

.item-caption {
  font-size: 16px;
  font-weight: 200;
  color: #999;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s; }

.item-post {
  color: #444;
  font-weight: 200; }

.item-readmore {
  position: relative;
  display: table;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 3px; }
  .item-readmore > a {
    font-size: 16px;
    font-weight: 300;
    color: #2bc0ff;
    text-decoration: none; }
    .item-readmore > a::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0px;
      right: 0px;
      height: 3px;
      width: 0%;
      margin: auto;
      -webkit-transition-duration: 0.3s;
      -o-transition-duration: 0.3s;
      transition-duration: 0.3s; }
    .item-readmore > a:hover::after {
      width: 60%; }

.item:hover .item-image img {
  opacity: 1;
  -webkit-animation: flash 1.2s;
  animation: flash 1.2s; }

.item:hover .item-readmore > a::after {
  width: 60%; }

.btn-style {
  background: #00b3ff;
  border-radius: 19px;
  color: white;
  font-size: 16px;
  font-weight: 200;
  padding: 5px 20px; }
  .btn-style:hover {
    opacity: 1;
    -webkit-animation: flash 1.2s;
    animation: flash 1.2s; }

.btn-readmore {
  background: #005db3;
  border-radius: 20px;
  color: white !important;
  border: 0;
  -webkit-transition: background 0.3s linear;
  -o-transition: background 0.3s linear;
  transition: background 0.3s linear; }
  .btn-readmore:hover, .btn-readmore:focus {
    background: -webkit-gradient(linear, left top, right top, from(rgba(0, 92, 179, 0.9)), to(rgba(0, 179, 255, 0.9)));
    background: -webkit-linear-gradient(left, rgba(0, 92, 179, 0.9) 0%, rgba(0, 179, 255, 0.9) 100%);
    background: -o-linear-gradient(left, rgba(0, 92, 179, 0.9) 0%, rgba(0, 179, 255, 0.9) 100%);
    background: linear-gradient(to right, rgba(0, 92, 179, 0.9) 0%, rgba(0, 179, 255, 0.9) 100%); }

.btn-apply {
  background: #005db3;
  color: white;
  font-size: 22px;
  padding: 5px 30px;
  border-radius: 35px;
  font-weight: 300;
  margin: 30px auto;
  display: table; }
  .btn-apply a {
    color: white;
    text-decoration: none; }
  .btn-apply:hover {
    background: #2bc0ff; }

.btn-category {
  padding: 0px 10px;
  background: #eee;
  color: #005db3;
  border-radius: 20px;
  border: 0; }
  .btn-category:hover, .btn-category:focus, .btn-category.active {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    background: -webkit-gradient(linear, right top, left top, from(#6ad8fa), to(#457ed2));
    background: -webkit-linear-gradient(right, #6ad8fa 0%, #457ed2 100%);
    background: -o-linear-gradient(right, #6ad8fa 0%, #457ed2 100%);
    background: linear-gradient(to left, #6ad8fa 0%, #457ed2 100%);
    color: white; }

.thumbnail .item-image {
  background: -webkit-gradient(linear, left top, right top, from(#6ad8fa), to(#457ed2));
  background: -webkit-linear-gradient(left, #6ad8fa 0%, #457ed2 100%);
  background: -o-linear-gradient(left, #6ad8fa 0%, #457ed2 100%);
  background: linear-gradient(to right, #6ad8fa 0%, #457ed2 100%);
  border-radius: 10px;
  position: relative;
  min-height: 178px; }
  @media (min-width: 768px) {
    .thumbnail .item-image {
      float: left;
      width: 40%; } }

@media (min-width: 768px) {
  .thumbnail .caption {
    float: left;
    width: 60%;
    padding-left: 15px; } }

.thumbnail .title {
  font-size: 25px;
  font-weight: 300;
  margin-bottom: 5px; }

.thumbnail .item-description {
  color: #999;
  font-weight: 200;
  font-size: 16px; }

.thumbnail .item-readmore {
  margin: 0;
  padding-top: 11px; }
  @media (max-width: 768px) {
    .thumbnail .item-readmore {
      padding-top: 4px; } }

.seach-category {
  margin-top: 25px; }
  .seach-category .text-category {
    padding: 2px 0;
    margin-right: 10px; }
  .seach-category .dropdown-menu {
    border-radius: 10px;
    border: 1px solid #dee2e6 !important;
    -webkit-box-shadow: 0px 0px 10px -2px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 0px 10px -2px rgba(0, 0, 0, 0.25);
    border-color: transparent;
    left: unset !important;
    right: 0; }
    .seach-category .dropdown-menu a {
      background-color: transparent;
      -webkit-transition-duration: 0.3s;
      -o-transition-duration: 0.3s;
      transition-duration: 0.3s;
      font-weight: 300; }
      .seach-category .dropdown-menu a:hover, .seach-category .dropdown-menu a:focus, .seach-category .dropdown-menu a.active {
        color: #2bc0ff; }

/*--home--*/
.home section > .container {
  padding-top: 50px;
  padding-bottom: 50px; }
  @media (max-width: 768px) {
    .home section > .container {
      padding-top: 20px;
      padding-bottom: 20px; } }

section > .container {
  padding-bottom: 20px; }

/*Page-header*/
.header-page {
  background: no-repeat center center scroll;
  height: 300px;
  background-size: cover;
  position: relative;
  overflow: hidden; }
  .header-page .title-page {
    font-size: 35px;
    color: white;
    font-weight: 300;
    margin-top: 55px;
    margin-bottom: 20px; }
    @media (max-width: 768px) {
      .header-page .title-page {
        margin-top: 15px; } }
  .header-page .title-caption {
    color: white;
    font-weight: 200;
    font-size: 18px; }

@media (max-width: 768px) {
  .header-career {
    height: auto;
    padding-bottom: 20px; } }

.header-career .item-image {
  text-align: right; }
  .header-career .item-image #item-image-1 {
    position: absolute;
    right: 166px;
    top: 50px; }
  .header-career .item-image #item-image-2 {
    position: absolute;
    right: 0;
    top: 20px; }
  @media (max-width: 768px) {
    .header-career .item-image {
      display: none; } }

.section {
  /*section portfolio*/ }
  @media (max-width: 768px) {
    .section-1 .about-us [class*="col-"] {
      width: 50%; }
    .section-1 .about-us .item {
      height: auto; }
      .section-1 .about-us .item:nth-child(1), .section-1 .about-us .item:nth-child(2) {
        margin-bottom: 15px; }
      .section-1 .about-us .item-image img {
        height: 85px; }
      .section-1 .about-us .item-title {
        font-size: 18px; }
      .section-1 .about-us .item-caption {
        font-size: 14px; }
      .section-1 .about-us .item-readmore {
        padding-top: 4px; } }
  .section-2 {
    background: url("../../img/section2-bg.jpg") center no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: 50% 50%;
    color: white; }
    .section-2 .box-bg {
      padding: 50px 10px;
      -webkit-box-shadow: 5px 0px 18px -4px rgba(0, 0, 0, 0.48);
      box-shadow: 5px 0px 18px -4px rgba(0, 0, 0, 0.48); }
    @media (min-width: 1200px) {
      .section-2 .box-left {
        width: 547px;
        float: right;
        padding-right: 10px; } }
    .section-2 .white-caption {
      margin: 25px 0; }
    .section-2 .item-list {
      margin: 20px 0; }
      .section-2 .item-list i {
        font-size: 25px; }
      .section-2 .item-list:last-child {
        margin: 0; }
  .section-3 .service {
    padding-top: 35px; }
    .section-3 .service .image {
      display: table;
      margin: auto; }
  .section-3 .item {
    clear: both;
    margin-bottom: 30px; }
    .section-3 .item .thumbnail {
      margin-bottom: 30px; }
      .section-3 .item .thumbnail .item-image img {
        width: 100%;
        height: auto; }
    @media (max-width: 968px) {
      .section-3 .item .item-image,
      .section-3 .item .caption {
        float: none;
        width: 100%; } }
    @media (max-width: 768px) {
      .section-3 .item {
        margin-bottom: 0; }
        .section-3 .item .item-image {
          min-height: auto; }
          .section-3 .item .item-image img {
            height: 100px; }
        .section-3 .item .caption {
          text-align: center;
          height: 50px; }
        .section-3 .item .title {
          font-size: 16px;
          margin-top: 5px; }
        .section-3 .item .item-description,
        .section-3 .item .item-readmore {
          display: none; } }
  @media (max-width: 768px) {
    .section-3 .column-xs {
      width: 50%; } }
  .section-4 {
    background-color: #f2f6f9; }
    .section-4 .item-slide {
      margin-top: 50px; }
      .section-4 .item-slide img {
        margin: auto; }
      .section-4 .item-slide .item-image img {
        border-radius: 10px; }
        @media (max-width: 768px) {
          .section-4 .item-slide .item-image img {
            height: 100px; } }
    .section-4 .slick-prev,
    .section-4 .slick-next {
      width: 25px;
      height: 25px; }
    .section-4 .slick-prev:before,
    .section-4 .slick-next:before {
      color: #2bc0ff;
      font-size: 25px; }
  .section-5 {
    background-color: #2d3f4c;
    background: url("../../img/c-bg.jpg") center no-repeat;
    background-size: cover;
    background-attachment: fixed; }
    .section-5 .caption {
      margin: 20px 0; }
    .section-5 .form-message label {
      color: white;
      font-size: 16px;
      font-weight: 200; }
    .section-5 .form-message .form-control {
      background-color: transparent;
      border-bottom: 2px solid white !important;
      border: 0;
      -webkit-box-shadow: none !important;
      box-shadow: none !important;
      border-radius: 0;
      color: white;
      font-weight: 200;
      font-size: 16px;
      padding: 5px 0; }
      .section-5 .form-message .form-control::-webkit-input-placeholder {
        color: white;
        font-weight: 200;
        font-size: 16px; }
      .section-5 .form-message .form-control:-ms-input-placeholder {
        color: white;
        font-weight: 200;
        font-size: 16px; }
      .section-5 .form-message .form-control::-ms-input-placeholder {
        color: white;
        font-weight: 200;
        font-size: 16px; }
      .section-5 .form-message .form-control::placeholder {
        color: white;
        font-weight: 200;
        font-size: 16px; }
    .section-5 .form-message .btn {
      float: right; }
  .section-portfolio .title {
    margin-bottom: 30px; }
  .section-portfolio .portfolio-item {
    margin-bottom: 30px; }
  .section-position .list-view {
    margin-top: 25px; }
    .section-position .list-view .item {
      border-bottom: 1px solid #ebebeb;
      padding: 20px 0; }
      .section-position .list-view .item .item-image {
        margin-top: 10px; }
      .section-position .list-view .item .caption {
        margin-left: 2.5rem;
        width: 100%; }
        .section-position .list-view .item .caption .title {
          font-size: 24px;
          font-weight: 300; }
        .section-position .list-view .item .caption .p-amount {
          color: #2bc0ff;
          font-size: 18px; }
          .section-position .list-view .item .caption .p-amount a {
            color: #005db3; }
          .section-position .list-view .item .caption .p-amount .view-more {
            text-decoration: none;
            -webkit-transition: 0.2s;
            -o-transition: 0.2s;
            transition: 0.2s; }
            .section-position .list-view .item .caption .p-amount .view-more::after {
              content: '\f105';
              font-family: "Font Awesome 5 Free";
              font-weight: 900;
              font-size: 18px;
              margin-left: 5px;
              position: relative;
              top: 2px; }
            .section-position .list-view .item .caption .p-amount .view-more:hover, .section-position .list-view .item .caption .p-amount .view-more:focus {
              color: #2bc0ff; }
        .section-position .list-view .item .caption .item-description {
          font-size: 16px;
          color: #999; }
      @media (max-width: 768px) {
        .section-position .list-view .item .item-image img {
          height: 50px; }
        .section-position .list-view .item .item-description {
          float: left; }
        .section-position .list-view .item .caption {
          margin-left: 0.9rem; }
        .section-position .list-view .item .p-amount {
          clear: both;
          float: none !important; } }
  .section-benefits {
    background: #2d3f4c;
    padding: 20px 0; }
    @media (min-width: 768px) {
      .section-benefits {
        background: url("../../img/b-bg.jpg") center no-repeat;
        background-size: cover;
        background-attachment: fixed; } }
    .section-benefits .item-benefits {
      margin-top: 40px; }
      @media (max-width: 768px) {
        .section-benefits .item-benefits [class*="col-"] {
          width: 50%; } }
    .section-benefits .item {
      background: rgba(0, 0, 0, 0.15);
      border-radius: 10px;
      min-height: 225px;
      padding: 27px 0 10px 0;
      margin-bottom: 20px; }
    .section-benefits .title-white {
      margin: auto; }
      .section-benefits .title-white::after {
        margin: auto; }
    .section-benefits .item-title {
      color: white;
      font-size: 18px;
      margin-top: 20px; }
  .section-applyform .form-apply {
    margin-top: 40px; }
    .section-applyform .form-apply .title-content {
      font-size: 24px;
      font-weight: 300;
      position: relative;
      color: #444;
      margin: 25px 0; }
      .section-applyform .form-apply .title-content::after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: 3px;
        width: 40px;
        background: #2bc0ff; }
    .section-applyform .form-apply .form-control,
    .section-applyform .form-apply .custom-file-label {
      -webkit-box-shadow: none !important;
      box-shadow: none !important;
      font-weight: 200;
      color: #999;
      font-size: 18px; }
      .section-applyform .form-apply .form-control::-webkit-input-placeholder,
      .section-applyform .form-apply .custom-file-label::-webkit-input-placeholder {
        color: #999;
        font-weight: 300; }
      .section-applyform .form-apply .form-control:-ms-input-placeholder,
      .section-applyform .form-apply .custom-file-label:-ms-input-placeholder {
        color: #999;
        font-weight: 300; }
      .section-applyform .form-apply .form-control::-ms-input-placeholder,
      .section-applyform .form-apply .custom-file-label::-ms-input-placeholder {
        color: #999;
        font-weight: 300; }
      .section-applyform .form-apply .form-control::placeholder,
      .section-applyform .form-apply .custom-file-label::placeholder {
        color: #999;
        font-weight: 300; }
    .section-applyform .form-apply input,
    .section-applyform .form-apply select {
      height: 40px !important; }
    .section-applyform .form-apply label {
      font-size: 18px;
      font-weight: 300;
      margin-bottom: .2rem; }
    .section-applyform .form-apply .form-row [class*="col-"] {
      margin: 10px 0; }
    .section-applyform .form-apply .custom-file-label::after {
      font-family: 'Font Awesome\ 5 Free';
      content: '\f1c1';
      color: #495057; }
    .section-applyform .form-apply .btn-add {
      background: #2bc0ff;
      border-radius: 20px;
      color: white;
      padding: 1px 10px; }
  .section-news .title-black {
    margin: 0; }
    .section-news .title-black::after {
      margin: 0; }

.card {
  border-radius: 10px;
  overflow: hidden;
  border-color: #dee2e6; }
  .card-title {
    margin-bottom: 0.5rem;
    font-size: 22px;
    font-weight: 300; }
  .card-text {
    color: #999;
    font-size: 16px;
    font-weight: 200; }
  .card-body {
    padding: 1rem; }
  .card-footer {
    padding: 0.35rem 1.25rem; }
    .card-footer a {
      color: #005db3; }

.footer {
  position: relative;
  background: white;
  -webkit-box-shadow: 0px 1px 13px -1px rgba(0, 0, 0, 0.22);
  box-shadow: 0px 1px 13px -1px rgba(0, 0, 0, 0.22); }
  .footer-content {
    padding-top: 30px; }
    .footer-content > .row {
      border-bottom: 1px solid #ebebeb; }
  .footer-copyright {
    font-weight: 300;
    color: #005db3;
    font-size: 14px;
    text-align: center;
    padding: 10px 0; }
  .footer::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 5px; }
  .footer .link-social {
    margin-top: 25px; }
    .footer .link-social .list-inline-item {
      background: #005db3;
      width: 38px;
      height: 38px;
      text-align: center;
      border-radius: 50%;
      -webkit-transition: background 0.8s linear, -webkit-transform 0.4s ease;
      transition: background 0.8s linear, -webkit-transform 0.4s ease;
      -o-transition: background 0.8s linear, transform 0.4s ease;
      transition: background 0.8s linear, transform 0.4s ease;
      transition: background 0.8s linear, transform 0.4s ease, -webkit-transform 0.4s ease; }
      .footer .link-social .list-inline-item:hover, .footer .link-social .list-inline-item:focus, .footer .link-social .list-inline-item.active {
        background: #2bc0ff;
        -webkit-transform: rotateZ(720deg);
        -ms-transform: rotate(720deg);
        transform: rotateZ(720deg); }
    .footer .link-social .item {
      color: white;
      font-size: 20px;
      line-height: 38px; }
      .footer .link-social .item.item-line img {
        margin-top: -4px; }
  .footer .list-address .list-item {
    margin-bottom: 30px; }
  .footer .list-address .list-icon {
    float: left;
    color: #005db3; }
  .footer .list-address .list-content {
    margin-left: 2.1rem;
    color: #444;
    font-weight: 200;
    font-size: 18px;
    -webkit-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease; }
    .footer .list-address .list-content:hover {
      color: #005db3; }
    .footer .list-address .list-content a {
      color: #444;
      text-decoration: none;
      -webkit-transition: all .2s ease;
      -o-transition: all .2s ease;
      transition: all .2s ease; }
      .footer .list-address .list-content a:hover {
        color: #005db3; }

#back-to-top {
  position: fixed;
  right: 15px;
  bottom: 0px;
  cursor: pointer;
  width: 40px;
  height: 40px;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 92, 179, 0.9)), to(rgba(0, 179, 255, 0.9)));
  background: -webkit-linear-gradient(bottom, rgba(0, 92, 179, 0.9) 0%, rgba(0, 179, 255, 0.9) 100%);
  background: -o-linear-gradient(bottom, rgba(0, 92, 179, 0.9) 0%, rgba(0, 179, 255, 0.9) 100%);
  background: linear-gradient(to top, rgba(0, 92, 179, 0.9) 0%, rgba(0, 179, 255, 0.9) 100%);
  display: none;
  z-index: 999;
  border-radius: 20px 20px 0 0;
  text-decoration: none;
  -webkit-transition: height 0.2s ease-in-out;
  -o-transition: height 0.2s ease-in-out;
  transition: height 0.2s ease-in-out; }
  #back-to-top::after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 18px;
    content: '\f077';
    color: #fff;
    padding: 5px 8px;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    display: table;
    margin: 3px auto;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }
  #back-to-top:hover, #back-to-top.active, #back-to-top:focus {
    -webkit-box-shadow: 0px -3px 6px 1px rgba(0, 0, 0, 0.12);
    box-shadow: 0px -3px 6px 1px rgba(0, 0, 0, 0.12);
    height: 47px; }

/*animation*/
@-webkit-keyframes flash {
  0% {
    opacity: .4; }
  100% {
    opacity: 1; } }

@keyframes flash {
  0% {
    opacity: .4; }
  100% {
    opacity: 1; } }

/* Push */
@-webkit-keyframes hvr-push {
  50% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }

@keyframes hvr-push {
  50% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }

/* Bob */
@-webkit-keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px); }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px); }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px); } }

@keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px); }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px); }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px); } }

@-webkit-keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px); } }

@keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px); } }

.btn-apply {
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-box-shadow: 0 0 1px transparent;
  box-shadow: 0 0 1px transparent;
  overflow: hidden;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: color, background-color, border-color;
  -o-transition-property: color, background-color, border-color;
  transition-property: color, background-color, border-color; }

.only-sm {
  display: none; }

@media (max-width: 768px) {
  .hidden-xs {
    display: none; }
  .only-lg {
    display: none; }
  .only-sm {
    display: block !important; } }
