#previewBanner {
    width: 180px;
    height: 120px;
}

#previewArticleCover {
    width: 180px;
    height: 120px;
}

#previewArticleThumbnail {
    width: 180px;
    height: 120px;
}

#previewCareer {
    width: 180px;
    height: 120px;
}

#previewClient {
    width: 180px;
    height: 120px;
}

#previewContactUs {
    width: 150px;
    height: 120px;
}

#previewOurBusinessCover{
    width: 180px;
    height: 120px;
}
#previewOurBusinessThumbnail{
    width: 180px;
    height: 120px;
}
#previewOurServiceCover{
    width: 180px;
    height: 120px;
}

#previewProduct{
    width: 180px;
    height: 120px;
}


.item-image{
    background: -webkit-gradient(linear, left top, right top, from(#6ad8fa), to(#457ed2));
    background: -webkit-linear-gradient(left, #6ad8fa 0%, #457ed2 100%);
    background: -o-linear-gradient(left, #6ad8fa 0%, #457ed2 100%);
    background: linear-gradient(to right, #6ad8fa 0%, #457ed2 100%);
}
table.dataTable tbody td {
    word-break: break-word;
}

